.wyhteam_wrapper{
	width:100%;
	height:auto;
}
.wyhteam_body{
	width:85%;
	height:auto;
	margin:0 auto;
}
.yu_teamtop{
	text-align: center;
	margin-top:30px;
}
.yu_teamtop img{
	width:80px;
	height:80px;
	background-size:100% 100%;
}
.yu_title{
	font-size: 22px;
	text-align: center;
    color: #444;
    line-height: 60px;
    font-weight: 700;
}
.yuheader_on{
	width:100%;
	height:170px;
	margin:20px auto 0;
}
.yu_teamphoto{
	width:150px;
	height:170px;
	margin-left:30px;
	border:#E3E3E3 5px solid;
}
.yu_imghead{
	width:100%;
	height:100%;
	background-size: 100% 100%;
}
.yu_ontp{ 
    position: relative;
    margin:60px 0 0 50px;
}
.on_tpfil{
	width:90px;
	height:35px;
	display:block;
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background: green;
}
.yu_ontpbt{
	width:90px;
	height:35px;
}
/*yu_line11*/
.yu_qiye{
	width:100%;
	height:100px;
	margin-top:15px;
}    
.yu_qynn{
	width:50%;
	height:100px;
}
.yu_qynn lable{
	width:97%;
	height:auto;
	color: #999;
    font-size: 16px;
    line-height: 45px;
    float: left;
}
.yu_qyname{
	width:97%;
	height: 45px;
	/*background-color: #fafafa;*/
    border: 1px solid #ddd;
    border-radius: 1px;
    display: inline-block;
    padding: 4px 10px;
    box-shadow: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    resize: none;
    outline: 0;
    color:#A9A9A9;
}
.yu_qyname,.yu_ads,.yu_qypeoname,.yu_qitel::-webkit-input-placeholder{
	font-size: 14px;
}
.yu_qiyeads{
	width:50%;
	height:100px;
}
.yu_qiyeads lable{
	width:97%;
	height:auto;
	color: #999;
    font-size: 16px;
    line-height: 45px;
    float: left;
    margin-left:3%;
}
.yu_ads{
	width:97%;
	height: 45px;
	/*background-color: #fafafa;*/
    border: 1px solid #ddd;
    border-radius: 1px;
    display: inline-block;
    padding: 4px 10px;
    box-shadow: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    resize: none;
    outline: 0;
    margin-left:3%;
    color:#A9A9A9;
}
/*yu_line22*/
.yu_qiyepeo{
	width:100%;
	height:100px;
	margin-top:15px;
}    
.yu_qypeopl{
	width:50%;
	height:100px;
}
.yu_qypeopl lable{
	width:97%;
	height:auto;
	color: #999;
    font-size: 16px;
    line-height: 45px;
    float: left;
}
.yu_qypeoname{
	width:97%;
	height: 45px;
	/*background-color: #fafafa;*/
    border: 1px solid #ddd;
    border-radius: 1px;
    display: inline-block;
    padding: 4px 10px;
    box-shadow: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    resize: none;
    outline: 0;
    color:#A9A9A9;
}
.yu_qytel{
	width:50%;
	height:100px;
}
.yu_qytel lable{
	width:97%;
	height:auto;
	color: #999;
    font-size: 16px;
    line-height: 45px;
    float: left;
    margin-left:3%;
}
.yu_qitel{
	width:97%;
	height: 45px;
    border: 1px solid #ddd;
    border-radius: 1px;
    display: inline-block;
    padding: 4px 10px;
    box-shadow: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    resize: none;
    outline: 0;
    margin-left:3%;
    color:#A9A9A9;
}
/*.yu_idnum .yu_idzheng{
	width:320px;
	height:175px;
	background: #FAFAFA;
	line-height: 160px;
	text-align: center;
	color:#444444;
	font-size: 17px;
	border:2px dashed #E3E3E3;
	margin-top:10px;
	margin-left:120px;
}*/
.yu_idzhengs{ 
    position: relative;
}
.yu_sfzzheng{
	width:320px;
	height:175px;
	display:block;
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.yu_sfzzbt{
	width:320px;
	height:175px;
	background: white;
	line-height: 160px;
	text-align: center;
	color:#969696;
	font-size: 17px;
	border:2px dashed #E3E3E3;
	margin-top:10px;
	margin-left:120px;
	
	outline: none;
	/*border:none;*/
	/*background: #FAFAFA;*/
	/*line-height: 160px;*/
	/*text-align: center;*/
	/*color:#444444;*/
	/*font-size: 17px;*/
	/*border:2px dashed #E3E3E3;*/
	/*margin-top:10px;*/
}
.yu_idnum{
	width:100%;
	height:240px;
	margin:0 auto;
	padding:15px 0;
}
.yu_idnum lable{
	width:100%;
	height:40px;
	color: #999;
    font-size: 16px;
    line-height: 40px;
    float: left;
    display: block;
}
.yu_idxy{
	width:100%;
	height:30px;
	color:#777777;
	line-height: 20px;
	font-size: 15px;
	margin-top:25px;
}
/*.wyh_teamthings{
	width:100%;
	height:240px;
	margin:0 auto;
	padding:15px 0;
}
.wyh_teamthings lable{
	width:100%;
	height:40px;
	color: #999;
    font-size: 16px;
    line-height: 40px;
    float: left;
    display: block;
}
.yuon_diy{
	width:100%;
	height:150px;
	border:2px dashed #E3E3E3;
	background: #FAFAFA;
}*/

/*.wyh_teamthings{
	width:100%;
	height:260px;
	margin:0 auto;
	padding:15px 0;
}
.wyh_teamthings lable{
	width:100%;
	height:40px;
	color: #999;
    font-size: 16px;
    line-height: 40px;
    float: left;
    display: block;
}
.yuon_diy{
	width:100%;
	height:200px;
	border:2px dashed #E3E3E3;
	background: #FAFAFA;
}
.yuhan_img{
    position: relative;
   border:5px solid #E3E3E3;
    width:150px;
	height:160px;
	padding:5px;
	margin:20px;
}
.yuh_pic{
	width:130px;
	height:130px;
	display:block;
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.han_imgg{
	width:130px;
	height:130px;
}*/


.yuon_diy input{
	/*text-align: center;
	line-height: 150px;
	color:#D7A46B;
	display: block;
	font-size: 18px;*/
}
.yu_rekuang{
	width:100%;
	height:40px;
	line-height: 50px;
	margin-top:20px;
}
.yu_lab{
	font-size:14px;
	font-weight: normal;
}
.yu-submit{
	background: #E62B00;
	width:100px;
	height:40px;
	border-radius: 0;
	margin-top:10px;
	font-size: 17px;
}








