.djs-fy {
	width: 70%;
	height: 40px;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
	background: white;
}
.djs-fy li {
	height: 40px;
	padding: 0 10px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	list-style: none;
	cursor:pointer;
}
.page {
	color: red;
}