html,body {
	height: 100%;
	font-family: "microsoft yahei";
	background: url(../images/bg.jpg) center center no-repeat;
	background-size: cover;
}

.lxm_tuandui {
	width: 160px;
	height: 60px;
	position: absolute;
	bottom: 100px;
	right: 300px;
	font-size: 16px;
}

.lxm_qiye {
	width: 160px;
	height: 60px;
	position: absolute;
	bottom: 100px;
	right: 100px;
	font-size: 16px;
}
