body,html{
	width: 100%;
	height: 100%;
}
.head{
	width: 100%;
	height: 100px;
	margin-bottom: 3%;
	margin-top: 3%;
}
.header{
	color: #555555;
	font-size: 16px;
	float: left;
	margin-top: 8%;
	margin-left: -0.5%;
}
.headImg{
	float: left;
	width:100px;
	height:100px;
	border: 1px  solid #CCCCCC;
	margin-left: 3%;
	border-radius:5%;
}
.headImg .upImg{
	width: 100%;
	height: 100%;
}
.inputFile{
	width: 50%;
	float: left;
	color: #555555;
	font-size: 14px;
	margin-top: 8%;
	margin-left:5%;
}

.zhj_wrapper{
	width: 85%;
	min-height:100%;
	border: 1px solid #DDDDDD;
	margin: 0 auto;
	box-shadow: 0px 0px 5px #DDDDDD;
	background: white;
	margin-bottom: 5%;
	overflow: hidden;
	margin-top: 3%;
	margin-top: 98px;
}
.zhj_Account{
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 25px;
	border-bottom: 1px dashed #DDDDDD;
}
.zhj_padding{
	width: 45%;
	height: auto;
	margin: 0 auto;	
	padding-top: 3%;
	/*overflow: hidden;*/
}
.personal{
	width: 100%;
	height: 50px;
}
.nickN{
	float: left;
	font-size: 16px;
	color: #555555;	
	margin-top: 1.4%;
}
.nText{
	width: 60%;
	height: 40px;
	float: left;
	margin-left: 3%;
	color:#555555;
}
.nickNText{
	color:#B30000;
	font-size: 15px;
	text-decoration: underline;
	margin-left: 2%;
	margin-top: 1%;
	float: left;
	display: inline-block;
	width:25%;
	height: 30px;
	display: none;
}
.telTex{
	color:#B30000;
	font-size: 15px;
	text-decoration: underline;
	margin-left: 2%;
	float: left;
	display: none;
	margin-top: 1.5%;
}
.passO{
	color:#B30000;
	font-size: 15px;
	text-decoration: underline;
	margin-left: 2%;
	float: left;
	display: none;
}
.passTwo{
	color:#B30000;
	font-size: 15px;
	text-decoration: underline;
	margin-left: 2%;
	float: left;
	display: none;
}
.passThree{
	color:#B30000;
	font-size: 15px;
	text-decoration: underline;
	margin-left: 2%;
	float: left;
	display: none;
}
.addTex{
	color:#B30000;
	font-size: 15px;
	text-decoration: underline;
	margin-left: 2%;
	margin-top: 1.5%;
	float: left;
	display: none;
}
.add{
	width: 100%;
	height: 50px;
}
.addLeft{
	float: left;
	font-size: 16px;
	color: #555555;	
	margin-top: 1.5%;
	margin-left: -7.5%;
}
.addText{
	width: 60%;
	height: 40px;
	float: left;
	margin-left: 4.2%;
	color:#555555;
}
.sex{
	width: 100%;
	height: 50px;
}
.sexLeft{
	float: left;
	font-size: 16px;
	color: #555555;	
	margin-top: 1.2%;
}
.sexText{
	width: 60%;
	height: 40px;
	float: left;
	margin-left: 3%;
	color:#555555;
}
.telNum{
	width: 100%;
	height: 50px;
}
.telLeft{
	float: left;
	font-size: 16px;
	color: #555555;	
	margin-top: 1.5%;
	margin-left: -3.8%;
}
.telText{
	width: 60%;
	height: 40px;
	float: left;
	margin-left: 3%;
	color:#555555;
}
.sex{
	width: 100%;
	height: 50px;
	line-height: 40px;
}
.sexChange{
	font-size: 16px;
	color: #555555;
	float: left;
}
.sex .girl{
	margin-left: 10%;
}
.sex .Preservation{
	margin-left: 10%;
}
.aa{
	width:70%;
	font-size: 15px;
	color: #555555;
	margin-left: 3%;
	float: left;
}
.pass{
	width: 100%;
	/*height: 50px;*/
	
}
.new{
	width: 100%;
}
.passLeft{
	color: #555555;
	font-size: 16px;
	float: left;
	margin-left: -7%;
	margin-top: 2%;
}
.pasText{
	width: 60%;
	height: 40px;
	float: left;
	margin-left: 3%;
	color:#555555;
}

.newTwo{
	float: left;
	width: 100%;
	margin-top: 2%;
}
.newTwoPas{
	color: #555555;
	font-size: 16px;
	float: left;
	margin-top: 1.5%;
	margin-left: -3.8%;
}
.newTwoText{
	width: 60%;
	height: 40px;
	float: left;
	margin-left: 3%;
	color:#555555;
}
.beSure{
	float: left;
	width: 100%;
	margin-top: 2%;
}
.beSurePas{
	color: #555555;
	font-size: 16px;
	float: left;
	margin-top: 1.5%;
	margin-left: -7.5%;
}
.beSureText{
	width: 60%;
	height: 40px;
	float: left;
	margin-left: 3%;
	color:#555555;
}
.baoCun{
	width: 20%;
	height: 40px;
	color: white;
	background: skyblue;
	border-radius: 5%;
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	margin-top:6%;
	margin-left: 53%;
	cursor: pointer;
	margin-bottom: 3%;
}










