.lhq_recruitDetails{
	width: 85%;
	height:500px;
	/***********/
	margin: 0 auto;
	margin-top: 80px;
	background:#FFFFFF;
}
.lhq_recruitDetails_title{
	width: 100%;
	height: 80px;
}
.lhq_recruitDetails_title>p:nth-child(1){
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	font-weight: 600;
	color: #777777;
}
.lhq_recruitDetails_center{
	width: 100%;
	clear: both;
	overflow: hidden;
	height: auto;
	font-size: 15px;
	padding-top: 15px;
	margin-top: 10px;
	font-size: 14px;
	color:#777777;
}
.lhq_recruitDetails_center_left{
	width: 70%;
	float: left;
}
.lhq_recruitDetails_center_left>p{
	width: 100%;
	height:30px;
	margin-top: 30px;
}
.lhq_recruitDetails_center_left>p:nth-child(1){
	margin-top:0;
}
.lhq_recruitDetails_center_left>p>span:nth-child(1){
	width: 50%;
	height: 30px;
	float: left;
}
.lhq_recruitDetails_center_left>p>span:nth-child(2){
	width: 50%;
	height: 30px;
	float: right;
}
.lhq_recruitDetails_center_left>p>span>label{
	font-size: 14px;
	color: #999999;
	text-align: left;
	 width:20%; 
	 text-align: center;
     margin-bottom: 0px; 
     font-weight:normal; 
     height: 30px;
     line-height: 30px;
     float: left;
     display: block;
     float: left;
}

.lhq_recruitDetails_center_left>p>span>i{
	 width: 70%;
    height: 30px;
    border-radius: 1px;
    line-height: 30px;
    box-shadow: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    resize: none;
    outline: 0;
    display: block;
    float: left;
    text-indent: 1em;
    font-style: normal;
}
.lhq_file{
	width:15%;
	height:200px;
	float: right;
	margin-right: 10%;
	background: #F7F7F7;
}