.lhq_recruitDetails{
	width: 85%;
	height:500px;
	/***********/
	margin: 0 auto;
	margin-top: 80px;
	
	background:#FFFFFF;
}
.lhq_recruitDetails_title{
	width: 100%;
	height: 80px;
}
.lhq_recruitDetails_title>p:nth-child(1){
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 60px;
}
.lhq_recruitDetails_title>p:nth-child(2){
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 30px;
}
.lhq_recruitDetails_center{
	width: 80%;
	margin: 0 auto;
	height: auto;
	text-indent: 2em;
	line-height: 35px;
	font-size: 15px;
	padding-top: 15px;
	margin-top: 10px;
	font-size: 14px;
	color:#777777;
}
